.sub-category-list .btn {
    margin: 0 0.5rem 1rem;
}

.category-section .form-select {
    width: auto;
}

/* Pagination Styles */
.pagination .page-item .page-link {
    color: #333; /* Default text color */
    border: 1px solid #dee2e6;
    border-radius: 0.5rem; /* Slightly rounded corners */
    margin: 0 0.25rem;
    transition: all 0.3s ease;
}

.pagination .page-item .page-link:hover {
    background-color: #e9ecef; /* Light grey background on hover */
    border-color: #dee2e6;
    color: #1a1a1a; /* Darker text on hover */
}

.pagination .page-item.active .page-link {
    background-color: #1a1a1a; /* Dark background for active page */
    border-color: #1a1a1a;
    color: #fff; /* White text for active page */
}

.pagination .page-item.disabled .page-link {
    color: #6c757d; /* Muted color for disabled links */
    background-color: #fff;
    border-color: #dee2e6;
}
